<h2 class="float-start mt-4" style="margin-right: 10px;">Maceió IN</h2>

<table class="table table-striped table-hover table-bordered">
  <thead style="background-color: #ffa500; color: white;">
    <tr>
      <th style="background-color: #ffa500; color: black;">Nome</th>
      <th style="background-color: #ffa500; color: black;">Setor</th>
      <th style="background-color: #ffa500; color: black;">E-mail</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr style="background-color: #0000ff ; color: white;">
        <td><%= employee.name %></td>
        <td><%= employee.department %></td>
        <td><%= employee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
