<header class="text-center">
  <h1 class="topic">Secretária da Fazenda de Maceió (SEFAZ)</h1>
  <p>Aqui você encontra tudo o que precisa saber sobre a SEFAZ.</p>
</header>

<main class="container">
  <section>
    <h2 class="topic">Quem somos?</h2>
    <p>A Secretaria Municipal de Fazenda de Maceió é responsável por planejar e executar políticas fiscais, tributárias, orçamentárias e financeiras do município. Ela arrecada tributos municipais e lida com questões como isenções e revisões, além de organizar o calendário fiscal e orçamentário. A Secretaria também foca no desenvolvimento econômico e na desburocratização fiscal.</p>
  </section>

  <section>
    <h2 class="topic">O que fazemos?</h2>
    <p>Planejamos e executamos as políticas fiscal, tributária, orçamentária e financeira de competência do Município, arrecadamos os tributos municipais e atuamos nas inclusões, imunidades, isenções, arbitramento, revisões e outros casos que requeiram interpretações da legislação. Somos responsáveis por organizar o calendário fiscal e orçamentário do município. Também atuamos no planejamento de políticas públicas e medidas de desburocratização fiscal voltadas ao desenvolvimento econômico.</p>
  </section>

  <section>
    <h2 class="topic">Serviços</h2>
    <ul class="list-group">
      <li class="list-group-item">IPTU 2024</li>
      <li class="list-group-item">Emissão de Nota Fiscal de Serviço</li>
      <li class="list-group-item">Certidões de Registro Fiscal e Autenticidade</li>
      <li class="list-group-item">Guias de Pagamento</li>
      <li class="list-group-item">ITBI e BCI</li>
      <li class="list-group-item">Agendamento</li>
      <li class="list-group-item">Serviços Fazenda</li>
      <li class="list-group-item">Portal do Cidadão</li>
      <li class="list-group-item">Participa Maceió</li>
      <li class="list-group-item">Emissão de Guias</li>
      <li class="list-group-item">Sala do Empreendedor</li>
      <li class="list-group-item">Taxa de Localização</li>
      <li class="list-group-item">Chamados de Atendimento</li>
      <li class="list-group-item">Abertura de Processos Administrativos</li>
      <li class="list-group-item">Contencioso Online</li>
      <li class="list-group-item">Quadro Demonstrativo de Cargos em Comissão - SEFAZ</li>
    </ul>
  </section>
</main>
